:root {
  --primary-text-color: #212121;
  --primary-bgc: #ffffff;
  --button-bgc: #afb1b8;
  --title-color: #757575;
  --title-black: #2f303a;
  --accent-color: #2196f3;
  --bgc-button: #f5f4fa;
  --title-text-color: #000000;
  --border: #eeeeee;
  --border-header: #ececec;
  --hero-bgc: rgba(47, 48, 58, 0.4);
  --white-grau:rgba(255, 255, 255, 0.6);
  --title-grau: rgba(47, 48, 58, 0.8);
  --backdrop: rgba(0, 0, 0, 0.2);
  --portfolio-overlay:rgba(33, 150, 243, 0.9);
  --social-footer: rgba(255, 255, 255, 0.1);
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bgc);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p,
a,
ul {
  margin: 0px;
  padding: 0px;

  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* logo */

.logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.logo-footer {
  color: var(--primary-bgc);
}

/* шапка */
.header {
  border-bottom: 1px solid var(--border-header);
 
}

.main-nav {
  display: flex;
  align-items: center;
  
}
.nav-list,
.info-list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.06;
}
.nav-link.current {
  color: var(--accent-color);
 
}

.nav-list {
  display: flex;
  margin-left: 93px;
  
}
.info-list {
  margin-left: auto;
  display: flex;
  align-items: center;
  
}



.nav-list-item:not(:last-child),
.info-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  color: var(--primary-text-color);
  padding: 32px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}


.nav-link.current::after {
  content: "";
  position: absolute;
  display:block;
  width: 100%;
  height: 4px;
  bottom: -1px;

  background:var(--accent-color) ;
  border-radius: 2px;

}



.info-link {
  color: var(--title-color);
  align-items: center;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  
}

.info-link:hover,
.info-link:focus {
  color: var(--accent-color);
  
}

.info-icon {
  margin-right: 10px;
  text-decoration: none;
  fill: currentColor;
}

/* герой */

.hero {
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  background: var(--title-black);
  text-align: center;
  height: 600px;
  max-width: 1600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      var(--hero-bgc),
      var(--hero-bgc)
    ),
    url(../images/imghero.jpg);
    display: block;
}

.hero-text {
  margin-bottom: 30px;
  list-style: none;
  color: var(--primary-bgc);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.primary-button {
 padding: 10px 29px;
  background-color: var(--accent-color);
  color: var(--primary-bgc);
  display: inline-block;
  justify-content: center;
  text-align:  center;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-button:focus,
.primary-button:hover {
  color: var(--primary-bgc);
  background-color:  #188CE8;
}



/* section */

.section {
  padding: 94px 0;
}

.feature-item-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style: none;
  color: var(--primary-text-color);
}

.feature-list {
  display: flex;
  justify-content: space-between;
}

.feature-item-text {
  font-size: 14px;
  line-height: 1.71;
  list-style: none;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.feature-list-item {
  width: 270px;
}

.feature-img {
  width: 270px;
  height: 120px;
  background: var(--bgc-button);
  padding: 25px 100px;
  margin-bottom: 30px;
}

.feature-img-1 {
  fill: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 50px;
  list-style: none;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.title-list {
  
  justify-content: space-between;
  display: flex;
  padding-bottom: 94px;
}
.title-thumb {
  position: relative;

}
.title-action {
   position: absolute;
   width: 100%;
   bottom: 0;
   padding: 27px 0;
  
   background: var(--title-grau) ;
}

.title-action p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-bgc);
}

/*наша команда */

.team-info {
  background-color: var(--bgc-button);
}

.team-work {
  justify-content: space-between;
  display: flex;
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  box-shadow: var(--title-color);
}

.team-content {
  padding: 30px 0;

  text-align: center;
  background-color: var(--primary-bgc);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-text {
  padding-top: 10px;

  color: var(--title-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.social-link {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}



.social-team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-bgc);
  fill: var(--button-bgc);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.social-team-item:not(:last-child) {
  margin-right: 10px;
}

.social-team-link:hover{
  background-color: var(--accent-color);
  fill: var(--bgc-button);
   
}


/* Постоянные клиенты */

.client.list {
  display: flex;
  justify-content: space-between;
  
}

.client-item {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  
}

.client-link {
  display: flex;
  padding: 16px 32px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--button-bgc);
  justify-content: center;
  align-items: center;
  fill:var(--button-bgc);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  width: 106px;
  height: 60px;
}


.client-link:hover{
  border: 1px solid var(--accent-color);
   fill: var(--accent-color);
}
/* Футер  */

.footer {
  padding: 60px 0;

  font-family: inherit;
  background-color: var(--title-black);
  font-size: 14px;
}

.address {
  margin: 20px 0 0;
}

.footer-address {
  font-style: normal;
  color: var(--primary-bgc);
  text-decoration: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address-navigate {
  margin-top: 9px;
  font-size: 14px;
 letter-spacing: 0.03em;
  color: var( --white-grau);
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-address-navigate:hover,
.footer-address-navigate:focus {
  color: var(--accent-color);
  text-decoration: none;

}


.footer-container {
  display: flex;
  align-items: baseline;
  margin-left: auto;
}

.join-container {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-bgc);
}



.social-footer {
  width: 20px;
  height: 20px;
  fill: var(--primary-bgc);
}
.social-footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-footer-item {
  width: 44px;
  height: 44px;
}
.social-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--social-footer);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer-item:not(:last-child) {
  margin-right: 10px;
}
.social-footer-link:hover {
  background-color: var(--accent-color);
}



.footer-input {
 
 width: 570px;
height: 86px;

}

.footer-email{
  padding:  15px 295px 15px 16px;
  margin-right: 12px;
    width: 358px;
height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.25;



align-items: center;
letter-spacing: 0.03em;
background: #2F303A;
color: rgba(255, 255, 255, 0.6);
}

.footer-box {
   display: flex;
}
 .describe-button {
  display: flex;
  align-items: center;

}
.footer-buttom-icon {
margin-left: 10px;
}
/* Портфолио */

/* кнопки в портфолио*/
.filter .filter-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: none;

  background: var(--bgc-button);
  cursor: pointer;
  color: var(--primary-text-color);
  font-style: normal;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  margin: 0px;
  padding: 0px;
}
.filter .filter-button:hover,
.filter .filter-button:focus {
  color: var(--primary-bgc);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter {
  display: flex;
  justify-content: center;
}

.portfolio.list {
  margin-top: 50px;

  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}


.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}



.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
 
.portfolio-overlay {
  
  position: absolute;
  display: block;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--portfolio-overlay);
  opacity: 0;


 transform: translateY( 100%) ;
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-overlay {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-actions {
  position:absolute;
  display: block;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  top: 50px;
  left: 50px; ;
  transform: translate(-50px, -50px);


  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;

  letter-spacing: 0.03em;
  color: var(--primary-bgc);

}



.portfolio-content {
  padding: 20px 24px;
  background-color: var(--primary-bgc);
  border: 1px solid var(--border);
  border-top: none;
  
}

.portfolio-item-title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-item-text {
  padding-top: 4px;

  color: var(--title-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/*модалка*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:var(--backdrop) ;
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%,-50%) scale(0.9);

}

.modal {
  position: relative;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1);
  width: 528px;
  height: 581px;
  background: var(--primary-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}


.modal-close-wrap {
 position: absolute;
 right: 0;
 top: 0;
 margin: 8px;
}



.modal-close{

   width: 30px;
   height: 30px;
    
   border-radius: 50%;
   color: var(--primary-bgc);
   background: var(--primary-bgc);
   border: 1px solid rgba(0, 0, 0, 0.1);
   box-sizing: border-box;
   cursor: pointer;
   fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.modal-icon {
   width: 11px;
   height: 11px;
   border: none;
   padding-top: 2px;
}

.modal-close:hover {
  fill: var(--accent-color);
}

.modal-name {
  
  margin-bottom: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

}

.form-fild {
   margin-bottom: 10px;
}
.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
}


.form-input {
  padding: 0;
  padding-left: 40px;
  width: 448px;
  height: 40px;
  background: var(--primary-bgc);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
 fill: var(--primary-text-color);

  transition: border  250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group-absolute {
  position: relative;
  
}

.form-input:focus,
.form-input:hover {
 border: 1px solid var(--accent-color);
 
}

.form-icon {
position: absolute;
width: 18px;
height: 18px;
top: 50%;
left: 12px;
border: none;
transform: translateY(-50%);
}

.form-input:focus-within + .form-icon,
.form-input:hover + .form-icon {
 fill: var(--accent-color) ;
 
}
.form-field-comment {
 margin-bottom: 20px;
}
.form-label-comment {
  padding: 0;
 
  width: 448px;
  height: 120px;
  padding-top:12px ;
  padding-left:16px ;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label-comment:focus,
.form-label-comment:hover {
border: 1px solid var(--accent-color);
}

.form-field-checkbox {
  margin-bottom: 30px;
  cursor: pointer;
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

}
/*.checkbox {
  display: block;
 
  margin-left: -16px;
  margin-top: 4px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}*/


  /*background-size: contain;
  background-origin: border-box;
  background-image: url(../images/symbol-defs-999.svg); */
  
  

.checkbox-icon {
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.checkbox:checked  +.checkbox-icon {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  
}

.form-checkbox-icon {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  padding-left: 2px;
}
.check-href {
  text-decoration: underline;
  color: var(--accent-color);
 
}
.check-text {
  padding-left: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-color);
  cursor: pointer;
}

.modal-buttom {
  display: flex;
  justify-content: center;
  
}