.form-group {
  margin-bottom: 10px;
}
.form-group__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
}

.form-group__input {
  @media screen and (max-width: 767px){
  width: 370px;
height: 40px;
  }
  padding: 0;
  padding-left: 40px;
  width: 448px;
  height: 40px;
  background: $primary-bgc;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  fill: $primary-text-color;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border: 1px solid $accent-color;
  }
}

.form-group__absolute {
  position: relative;
}

.form-group__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  border: none;
  transform: translateY(-50%);
}

.form-group__input:focus-within + .form-group__icon,
.form-group__input:hover + .form-group__icon {
  fill: $accent-color;
}
.form-group__comment {
  margin-bottom: 20px;
}
.form-group__texterea {
  @media screen and (max-width: 767px){
    width: 370px;
  height: 40px;
    }
  padding: 0;
  width: 448px;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border: 1px solid $accent-color;
  }
}
.form__buttom {
  text-align: center;
}

.checkbox {
  margin-bottom: 30px;
  cursor: pointer;
}

.checkbox__form {
  @include flex($jc:center,$ai:center);
 
  
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox__icon {
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid $primary-text-color;
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__icon {
  background-color: $accent-color;
  border-color: $accent-color;
}

.checkbox__icon-image {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  padding-left: 2px;
}
.checkbox__reference {
  text-decoration: underline;
  color: $accent-color;
}
.checkbox__text {
  padding-left: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $title-color;
  cursor: pointer;
}
