body {
  color: var(--primary-text-color);
  background-color: var(--primary-bgc);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p,
a,
ul {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  
  
  @media screen and (min-width: 480px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 15px;
  margin: 0 auto;
  }
  
}


.section {
  padding: 94px 0;
  @media (min-width: 768px){
    padding: 60px 0;
  }
}
.title {
  margin-bottom: 50px;
  list-style: none;
  color: $primary-text-color;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
