.info-list {

  @media screen and (min-width: 768px){
    display: block;
    padding: 0;
    margin-left: 84px;
    margin-right: 15px;
    margin-bottom: 21px;
    margin-top: 21px;
  }
  @media screen and (min-width: 1200px){
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.06;
    margin-left: auto;
  align-items: center;
  
  }
}

.info-list__link {
  color: $title-color;
  @include flex($ai:center);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.info-list__icon {
  margin-right: 10px;
  text-decoration: none;
  fill: currentColor;
}
.info-list__item:not(:last-child) {
  margin-right: 50px;
}
