.logo {
  color: $title-text-color;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-left: 15px;
}
.logo--blue {
  color: $accent-color;
}

.logo--white {
  color: $primary-bgc;
}
