.header {
  position: relative;
    border-bottom: 1px solid $border-header;
  }
  .header__container {
    @include flex($ai:center);
   
  }
  .header__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    
        @media screen and (min-width: 768px) {
          min-width: 600px;
          justify-content: space-around;
        }
    
        @media screen and (min-width: 1200px) {
          justify-content: space-between;
          margin-left: 93px;
          flex-grow: 1;
        }
    
        @media screen and (max-width: 767px) {
          display: none;
          background-color: #ffffff;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
         
        }
        &.is-open {
          
          @media screen and (max-width: 767px) {
            
            height: 100vh;
            padding: 40px 48px;
            display: flex;
            flex-direction: column;
            z-index: 5;
          }
        }
      }
    
     .header-social {
      display: none;
      @media (max-width: 767px) {
       display: flex;
       }
     }

     .header-social__item {
      padding: 0 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      &:first-child {
        padding: 0 10px 0 0;
      }
      &:last-child {
        border-right: none;
        padding: 0 0 0 10px;
      }
    
     }

     .header-social__link{
      text-decoration: none;
     }

     .header-social__text {
      
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      color: #2196F3;
      
      
     }
    