.footer {
 
  padding: 60px 0;
  font-family: inherit;
  background-color: $title-black;
  font-size: 14px;

}
.footer__container-tablet{
  @media (max-width: 767px){
    display: block;
    text-align: center;
    margin-bottom: 60px;
   
      }
      @media (min-width: 768px) and (max-width: 1199px){
    display: block;
    margin-bottom: 60px;
    width: 50%;
    text-align: center;
  }
}

.footer__container {
  @media (max-width: 767px){

    display: block;
    text-align: center;
      }

      @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px){
  @include flex($ai:baseline);
  margin-left: auto;
  }
}

.footer__contacts {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
     
      
  }
}
.footer__title {
 
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primary-bgc;
  @media (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
   
}
@media screen and (min-width: 1200px){
  text-align: inherit;
}
}
.footer__address {
  
  @media screen and (min-width: 1200px){
  margin: 20px 0 0;
  }
}
.footer__address-list{
 

  @media (min-width: 768px) and (max-width: 1199px) {
  
    justify-content: center;
  }
}
.footer__locacion {
 
  font-style: normal;
  color: $primary-bgc;
  text-decoration: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
  @media (max-width: 767px) {
    text-align: center;
    font-size: 14px;
  }
 


}
.footer-form__mobile{
  @media (max-width: 767px){
    display: inline-flex;
    margin-top: 20px;
      }
}
.footer-form__input {
  
  padding-left: 15px;
  margin-right: 12px;
 
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  background: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  @media screen and (min-width: 480px){
    width: 100%;
  }
  
  @media (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 20px;
    width: 450px;
  }
  @media screen and (min-width: 1200px){
    width: 358px;
  }
 
}

.footer-form {
  
  @media (min-width: 768px) and (max-width: 1199px) {
    display: block;
    text-align: -webkit-center;
  }
  @media screen and (min-width: 1200px){
  display: flex;
} 
}
.footer__navigate {
 
  margin-top: 9px;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $white-grau;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
    text-decoration: none;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    display: block;
  }
}