.page-footer {
    padding: 60px 0;
    font-family: inherit;
    background-color: $title-black;
    font-size: 14px;
  }
  .container__footer {
    display: flex;
    align-items: baseline;
    margin-left: auto;
  }
  
  
  .footer-address {
    margin: 20px 0 0;
  }
  
  .footer-address__locacion {
    font-style: normal;
    color: $primary-bgc;
    text-decoration: none;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  .footer-address__navigate {
    margin-top: 9px;
    font-size: 14px;
   letter-spacing: 0.03em;
    color:$white-grau;
    text-decoration: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .footer-address__navigate:hover,
  .footer-address__navigate:focus {
    color: $accent-color;
    text-decoration: none;
  
  }
  
  