.work {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.work-list {
  @include flex($jc: space-between);

  padding-bottom: 94px;
  margin: -15px;
}
.work-list__thumb {
  position: relative;
  margin: 15px;
}
.work-list__action {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px 0;
  background: $title-grau;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-bgc;
}
