.work-list {
  @include centered($content:space-between);
  
  padding-bottom: 94px;
}
.work-list__thumb {
  position: relative;
}
.work-list__action {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px 0;
  background: $title-grau;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-bgc;
}
