@mixin flex($jc:false, $ai:false, $ta:false) {
    
   display: flex;
    @if($jc) {
      justify-content: $jc;
    }
    @if($ai){
      align-items: $ai;
    }
    @if($ta){
      text-align:$ta;
    }
  }
  