$primary-text-color: #212121;
$primary-bgc: #ffffff;
$utton-bgc: #afb1b8;
$title-color: #757575;
$title-black: #2f303a;
$accent-color: #2196f3;
$bgc-button: #f5f4fa;
$title-text-color: #000000;
$border: #eeeeee;
$border-header: #ececec;
$hero-bgc: rgba(47, 48, 58, 0.4);
$white-grau:rgba(255, 255, 255, 0.6);
$title-grau: rgba(47, 48, 58, 0.8);
$backdrop: rgba(0, 0, 0, 0.2);
$portfolio-overlay:rgba(33, 150, 243, 0.9);
$social-footer: rgba(255, 255, 255, 0.1);
